body {
    margin: 0;
}

/*CONSTANTES*/

.contenedor{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/*NAV*/

nav div {
    /* background-color: aqua; */
    /* margin: 0 0 0 0; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    /* height: 190px; */
    /* border: 3px solid black; */
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav div ul {
    /* padding: 0 0 0 0; */
    padding-left: 0;
    /* margin: 0 0 0 0; */
    /* top, right, bottom, left */
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
}

nav div ul li {
    list-style: none;
    /* border: 2px solid black; */
}

nav div ul li a {
    color: black;
    font-size: 22px;
    padding: 10px;
    /* background-color: aqua; */
    display: inline-block;
}

/*HEADER*/

header {
    background-image: url(../img/portada.jpg);
    padding-top: 150px ;
    padding-bottom: 150px ;
    background-position: center;
    background-size: cover;
}

header div h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    margin: 0;
    color: #ff6818;
    line-height: 100px;
}

header div p {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    color: rgb(85, 92, 102);
    margin-top: 40px;
    margin-bottom: 40px;    
}

header div form {
    display: flex;
}

header div form input {
    font-size: 18px;
    border: none;
    outline: none;
    padding: 12px 10px;
    width: 290px;
}

header div form button {
    border: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 12px 40px;
    cursor: pointer;
    background: linear-gradient(to right, #f79b31, rgb(233, 66, 66));
}

header div form input::placeholder {
    font-size: 15px;
}

/*SECTION*/

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

section div article {
    color: white;
    padding: 20px 35px 40px 35px;
    width: 25%;
    box-sizing: border-box;
}

section div article h2,
section div article h3 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

section div article h2 {
    font-size: 60px;
}

section div article h3 {
    font-size: 24px;
    font-weight: 400;
}

section div article p {
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
}

section div article div i {
    font-size: 50px;
}

#articleBox {
    display: flex;
}

#article1 {
    background-color: #ff6818;
}

#article2 {
    background-color: #f43701;
}

#article3 {
    background-color: #292d31;
}

#article4 {
    background-color: #555c66;
}