$font-khula: "Khula", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*
    Tamaño fuente base 16px = 1rem
    Cambiaremos a la base 10 => la fuente será de 10px
    16px ------ 100%
    10px ------ 62.5%
    */

    font-size: 62.5%; // fuente base de 10px
    font-family: $font-khula;
}

a {
    text-decoration: none;
}